<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" [(ngModel)]="followParams" (change)="getUsers()" value="followings" type="radio" name="radioFollows" id="radioFollowers">
                        <label class="form-check-label" for="radioFollowers">Following</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" [(ngModel)]="followParams" (change)="getUsers()" value="followers" type="radio" name="radioFollows" id="radioFolllowers">
                        <label class="form-check-label" for="radioFolllowings">Followers</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="user-list">
        <div class="row mb-3">
            <div *ngFor="let user of users" class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="user_profile_info">
                    <div class="user_profile_info">
                        <div class="user_profile_info">
                            <div class="user-up-info">
                                <img src="{{user.images[0].name}}" alt="">
                                <h3>{{user.name}},<small>{{user.age}}</small></h3>
                                <h4 style="height:20px;">{{user.country}},{{user.city}}</h4>
                                <button class="btn btn-outline btn-sm">
                                    <i class="fas fa-plus"></i>
                                    Arkadas Ekle
                                </button>
                            </div>
                            <a [routerLink]="['/members/',user.id]" class="view-more">View Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>